.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
    min-height: 100vh;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 30px 0px;
        border-bottom: 1px solid var(--border-color);

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: Merriweather-Titulos;
        }
    }

    .body-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
        padding: 20px;
        justify-content: center;
        height: 100%;

        .info-container {
            width: 450px;
            font-family: Nunito-Sistema;
        }
    }
}