* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin-top: -18;
}

.admin-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    font-family: Nunito-Sistema;
    position: fixed;
    background-color: var(--background-color);
    z-index: 2;
}

.admin-header-container .admin-header-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
}

.admin-header-container .admin-header-content .content-img img {
    width: 200px;
    padding-top: 7px;
}

.admin-header-container .admin-header-content .content-nav .nav-list-container li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.admin-header-container .admin-header-content .content-nav .nav-list-container li > a {
    text-decoration: none;
    color: var(--border-color);
}

.admin-header-container .admin-header-content .content-nav .nav-list-container li > a:hover {
    text-decoration: underline;
}

.admin-header-container .admin-header-content .content-out {
    margin: 0px 10px 0px 120px;
}

.admin-header-container .admin-header-content .content-out a {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    padding: 9px;
    border-radius: 4px;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    color: var(--background-color);
    font-size: 0.9em;
}

.admin-header-container .admin-header-content .content-out a:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.2s;
}

.container .mensaje-error {
    font-family: Nunito-Sistema;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    top: 80px;
    right: 20px;
    position: absolute;
    color: rgb(204, 73, 73);
    border: 1px solid rgb(204, 73, 73);
}

.container .mensaje-error:hover {
    background-color: rgb(204, 73, 73);
    color: var(--background-color);
    transition: all 0.5s ease;
    cursor: default;
}

.container .mensaje-success {
    font-family: Nunito-Sistema;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    top: 80px;
    right: 20px;
    position: absolute;
    color: rgb(77, 235, 71);
    border: 1px solid rgb(77, 235, 71);
}

.container .mensaje-success:hover {
    background-color: rgb(77, 235, 71);
    color: var(--background-color);
    transition: all 0.5s ease;
    cursor: default;
}

.container .panel-container {
    width: 90%;
    height: auto;
    min-height: 80vh;
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 15vh;
}

.container .panel-container .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .panel-container .title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
    color: var(--border-color);
}

.container .panel-container .title-container .title svg {
    fill: var(--border-color);
    padding-bottom: 1.9px;
    width: 25px;
}

.container .panel-container .general-option {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .panel-container .general-option .option-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
    border-top: 1px solid var(--border-color);
    padding: 20px;
}

.container .panel-container .general-option .option-title .title i {
    padding-bottom: 2px;
}

.container .panel-container .general-option .container-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container .panel-container .general-option .container-options  a {
    text-decoration: none;
    color: var(--border-color);
    position: relative;
}

.container .panel-container .general-option .container-options .option {
    min-width: 250px;
    min-height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
    font-family: Nunito-Sistema;
}

.container .panel-container .general-option .container-options .option:hover {
    box-shadow: 2px 1px 3px 3px rgba(20, 20, 20, 0.27);
    transition: ease-in-out 0.4s;
}

.container .panel-container .general-option .container-options .option .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container .panel-container .general-option .container-options .option .info i {
    padding-bottom: 2px;
}

.container .panel-container .general-option .container-options .option-notify {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 22px;
    min-height: 22px;
    background-color: rgb(204, 73, 73);
    border-radius: 50%;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
    border: 0.5px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-family: Nunito-Sistema;
    font-size: 0.9em;
}

.div-2-options {
    padding-bottom: 15vh;
}

/*Apartado de tiendas en espera y detalles de la tienda*/

.container-stores {
    width: 90%;
    margin: 0 auto;
    background-color: var(--background-color);
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    min-height: 83vh;
}

.container-stores .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5%;
    border-bottom: 1px solid var(--border-color);
}

.container-stores .title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
    color: var(--border-color);

}

.container-stores .stores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-stores .stores .stores-captions {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Nunito-Sistema;
    border-bottom: 1px solid var(--border-color);
    padding: 18px;
}

.container-stores .stores .stores-captions .user-caption {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-right: 1px solid var(--border-color);
}

.container-stores .stores .stores-captions .store-caption {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-right: 1px solid var(--border-color);
}

.container-stores .stores .stores-captions .store-actions {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.container-stores .store {
    font-family: Nunito-Sistema;
    display: flex;
    padding: 15px;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
    margin: 10px 0px;
    border-radius: 3px;
}

.container-stores .store:hover {
    box-shadow: 2px 1px 3px 3px rgba(20, 20, 20, 0.27);
    transition: ease-in-out 0.4s;
}

.container-stores .store .user-info {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    border-right: 1px solid var(--border-color);
}

.container-stores .store .user-info a {
    text-decoration: none;
    color: rgb(126, 179, 209);
}

.container-stores .store .store-name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    border-right: 1px solid var(--border-color);
}

.container-stores .store .actions {
    display: flex;
    min-height: 5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-stores .store .actions a {
    text-decoration: none;
    color: var(--background-color);
}

.container-stores .store .actions .option {
    padding: 8px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.container-stores .store .actions .details {
    background-color: rgb(126, 179, 209);
    border: 1px solid rgb(126, 179, 209);
}

.container-stores .store .actions .details:hover {
    background-color: var(--background-color);
    color: rgb(126, 179, 209);
    transition: ease-in-out 0.3s all;
}

.container-stores .store .actions .accept {
    background-color: rgb(119, 230, 117);
    border: 1px solid rgb(119, 230, 117);
}

.container-stores .store .actions .accept:hover {
    background-color: var(--background-color);
    color: rgb(119, 230, 117);
    transition: ease-in-out 0.3s all;
}

.container-stores .store .actions .deny {
    background-color: rgb(218, 100, 100);
    border: 1px solid rgb(218, 100, 100);
}

.container-stores .store .actions .deny:hover {
    background-color: var(--background-color);
    color: rgb(218, 100, 100);
    transition: ease-in-out 0.3s all;
}

.container-store-details {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    font-family: Nunito-Sistema;
    background-color: var(--background-color);
}

.container-store-details .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.container-store-details .title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
}

.container-store-details .title-container .title i {
    padding-bottom: 1.5px;
}

.container-store-details .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid var(--border-color);
}

.container-store-details .header-content .back .back-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 9px;
    background: var(--border-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    text-decoration: none;
    color: var(--background-color);
}

.container-store-details .header-content .back .back-button:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.2s all;
}

.container-store-details .header-content .back .back-button i {
    padding-top: 3px;
}

.container-store-details .header-content .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 4px;
}

.container-store-details .header-content .user .user-idname-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-store-details .header-content .user .user-idname {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-store-details .header-content .user .go-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: unset;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-store-details .header-content .user .go-profile:hover {
    color: rgb(126, 179, 209);
    transition: ease-in-out 0.3s all;
}

.container-store-details .header-content .user .go-profile i {
    padding-bottom: 1.2px;
}

.container-store-details .divisors {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    margin-top: 20px;
    gap: 10vw;
}

.container-store-details .divisors .divisor-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 20px 20px 20px;
}

.container-store-details .divisors .data-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.container-store-details .divisors .divisor-2 {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-store-details .divisors .divisor-2 img {
    width: 280px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.container-store-details .divisors .divisor-2 .data-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-store-details .divisors .divisor-2 .wrong {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: line-through rgb(204, 73, 73);
}

/*Apartado de productos en espera y detalles del producto*/

.container-products {
    width: 90%;
    margin: 0 auto;
    background-color: var(--background-color);
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    min-height: 83vh;
}

.container-products .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5%;
    border-bottom: 1px solid var(--border-color);
}

.container-products .title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
    color: var(--border-color);
}

.container-products .products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-products .products .products-captions {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Nunito-Sistema;
    border-bottom: 1px solid var(--border-color);
    padding: 18px;
}

.container-products .products .products-captions .storeid-caption {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-right: 1px solid var(--border-color);
}

.container-products .products .products-captions .productnm-caption {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-right: 1px solid var(--border-color);
}

.container-products .products .products-captions .product-actions {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.container-products .product {
    font-family: Nunito-Sistema;
    display: flex;
    padding: 15px;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
    margin: 10px 0px;
    border-radius: 3px;
}

.container-products .product:hover {
    box-shadow: 2px 1px 3px 3px rgba(20, 20, 20, 0.27);
    transition: ease-in-out 0.4s;
}

.container-products .product .store-info {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    border-right: 1px solid var(--border-color);
}

.container-products .product .store-info p {
    text-decoration: none;
    color: rgb(126, 179, 209);
}

.container-products .product .product-name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    border-right: 1px solid var(--border-color);
}

.container-products .product .actions {
    display: flex;
    min-height: 5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-products .product .actions a {
    text-decoration: none;
    color: var(--background-color);
}

.container-products .product .actions .option {
    padding: 8px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.container-products .product .actions .details {
    background-color: rgb(126, 179, 209);
    border: 1px solid rgb(126, 179, 209);
}

.container-products .product .actions .details:hover {
    background-color: var(--background-color);
    color: rgb(126, 179, 209);
    transition: ease-in-out 0.3s all;
}

.container-products .product .actions .accept {
    background-color: rgb(119, 230, 117);
    border: 1px solid rgb(119, 230, 117);
}

.container-products .product .actions .accept:hover {
    background-color: var(--background-color);
    color: rgb(119, 230, 117);
    transition: ease-in-out 0.3s all;
}

.container-products .product .actions .deny {
    background-color: rgb(218, 100, 100);
    border: 1px solid rgb(218, 100, 100);
}

.container-products .product .actions .deny:hover {
    background-color: var(--background-color);
    color: rgb(218, 100, 100);
    transition: ease-in-out 0.3s all;
}

.container-product-details {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    font-family: Nunito-Sistema;
    background-color: var(--background-color);
}

.container-product-details .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.container-product-details .title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
}

.container-product-details .title-container .title i {
    padding-bottom: 1.5px;
}

.container-product-details .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid var(--border-color);
}

.container-product-details .header-content .back .back-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 9px;
    background: var(--border-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    text-decoration: none;
    color: var(--background-color);
}

.container-product-details .header-content .back .back-button:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.2s all;
}

.container-product-details .header-content .back .back-button i {
    padding-top: 3px;
}

.container-product-details .header-content .product-assoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 4px;
}

.container-product-details .header-content .product-assoc .store-idname-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-product-details .header-content .product-assoc .store-idname {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-product-details .header-content .product-assoc .go-store {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: unset;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}

.container-product-details .header-content .store .go-store:hover {
    color: rgb(126, 179, 209);
    transition: ease-in-out 0.3s all;
}

.container-product-details .header-content .store .go-store i {
    padding-bottom: 1.2px;
}

.container-product-details .divisors {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    margin-top: 20px;
    gap: 10vw;
}

.container-product-details .divisors .divisor-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 20px 20px 20px;
}

.container-product-details .divisors .data-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.container-product-details .divisors .divisor-2 {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-product-details .divisors .divisor-2 img {
    width: 280px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.container-product-details .divisors .divisor-2 .data-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-product-details .divisors .divisor-2 .wrong {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: line-through rgb(204, 73, 73);
}

.container-users-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15vh auto;
}

.container-users-list .header-title {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--border-color);
}

.container-users-list .header-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Merriweather-Titulos;
}

.container-users-list .caption-titles {
    width: 100%;
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid var(--border-color);
}

.container-users-list .caption-titles .caption {
    padding: 15px;
    font-family: Nunito-Sistema;
}

.container-users-list .caption-titles .id-caption {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-users-list .caption-titles .cn-caption {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
}

.container-users-list .caption-titles .acc-caption {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
}

.container-users-list .users {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    font-family: Nunito-Sistema;
}

.container-users-list .users .user {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
    margin: 10px 0px;
    border-radius: 3px;
}

.container-users-list .users .user:hover {
    box-shadow: 2px 1px 3px 3px rgba(20, 20, 20, 0.27);
    transition: ease-in-out 0.4s;
}

.container-users-list .users .user .user-id {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-users-list .users .user .user-email-name {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-left: 1px solid var(--border-color);

    a {
        text-decoration: none;
        color: rgb(126, 179, 209)
    }
}

.container-users-list .users .user .user-email-name .name {
    font-weight: bold;
}

.container-users-list .users .user .user-email-name .email {
    font-style: italic;
    font-size: 0.85em;
}

.container-users-list .users .user .actions {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: 1px solid var(--border-color);
}

.container-users-list .users .user .actions > a {
    text-decoration: none;
    color: var(--background-color);
}

.container-users-list .users .user .actions .details-user {
    padding: 9px;
    background-color: rgb(126, 179, 209);
    border: 1px solid rgb(126, 179, 209);
    border-radius: 3px;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-users-list .users .user .actions .details-user:hover {
    background-color: var(--background-color);
    color: rgb(126, 179, 209);
    transition: ease-in-out 0.3s all;
}

.container-users-list .users .user .actions .delete-user {
    padding: 9px;
    background-color: rgb(218, 100, 100);
    border: 1px solid rgb(218, 100, 100);
    border-radius: 3px;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-users-list .users .user .actions .delete-user:hover {
    background-color: var(--background-color);
    color: rgb(218, 100, 100);
    transition: ease-in-out 0.3s all;
}

@media screen and (max-width: 695px) {
    .admin-header-container {
        .nav-list-container {
            padding: 10px;
            font-size: 0.9em;
        }

        .content-img {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        .panel-container {
            margin-top: 25vh;
        }
    }

    .admin-header-container {
        height: auto;

        .admin-header-content {
            flex-direction: column-reverse;
            padding: 10px;
            gap: 10px;

            .content-out {
                align-self: flex-end;
            }
        }
    }
}