body {
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.admin-header-container {
    position: fixed;
    background-color: var(--background-color);
}

.reports-container {
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .reports-container-header {
        border-bottom: 1px solid var(--border-color);
        padding: 25px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Merriweather-Titulos;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

    .nav-reports {
        display: flex;
        width: 600px;
        margin: 0 auto;
        gap: 10px;
        padding: 10px 0px;
        border-bottom: 1px solid var(--border-color);

        .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 15px;
            text-decoration: none;
            font-family: Nunito-Sistema;
            border-radius: 3px;

            & i {
                margin-bottom: 1px;
            }
        }

        .pen {
            background-color: #e7c83e;
            color: var(--background-color);
        }

        .resp {
            background-color: #55b955;
            color: var(--background-color);
        }

        .ign {
            background-color: #dd5050;
            color: var(--background-color);
        }
    }

    .reports {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: Nunito-Sistema;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: unset;

            .report {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 15px;
                border: 1px solid var(--border-color);
                border-radius: 4px;

                .info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
            }
        }
    }

    .reports:has(.pen-report) {
        a {
            .report {
                .info {
                    i {
                        color: #e7c83e;
                    }
                }
            }
        }
    }

    .reports:has(.ans-report) {
        a {
            .report {
                .info {
                    i {
                        color: #55b955;
                    }
                }
            }
        }
    }

    .reports:has(.ign-report) {
        a {
            .report {
                .info {
                    i {
                        color: #dd5050;
                    }
                }
            }
        }
    }
}