body {
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.admin-header-container {
    position: fixed;
    background-color: var(--background-color);
}

.reports-container {
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .reports-container-header {
        border-bottom: 1px solid var(--border-color);
        padding: 25px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Merriweather-Titulos;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

    .nav-reports {
        display: flex;
        width: 600px;
        margin: 0 auto;
        gap: 10px;
        padding: 10px 0px;
        border-bottom: 1px solid var(--border-color);

        .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 15px;
            text-decoration: none;
            font-family: Nunito-Sistema;
            border-radius: 3px;

            & i {
                margin-bottom: 1px;
            }
        }

        .pen {
            background-color: #e7c83e;
            color: var(--text-color);
        }

        .resp {
            background-color: #55b955;
            color: var(--background-color);
        }

        .ign {
            background-color: #dd5050;
            color: var(--background-color);
        }
    }

    .reports {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: Nunito-Sistema;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: unset;

            .report {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 15px;
                border: 1px solid var(--border-color);
                border-radius: 4px;

                .info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
            }
        }
    }

    .reports:has(.pen-report) {
        a {
            .report {
                .info {
                    i {
                        color: #e7c83e;
                    }
                }
            }
        }
    }

    .reports:has(.ans-report) {
        a {
            .report {
                .info {
                    i {
                        color: #55b955;
                    }
                }
            }
        }
    }

    .reports:has(.ign-report) {
        a {
            .report {
                .info {
                    i {
                        color: #dd5050;
                    }
                }
            }
        }
    }
}

.report-details-container {
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .report-status {
        font-family: Nunito-Sistema;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        border-radius: 3px;
        font-size: 0.9em;

        .text {
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;

            i {
                margin-top: 2px;
            }
        }
    }

    .report-status:has(.slope) {
        background-color: #e7c83e;
    }

    .report-status:has(.answered) {
        color: var(--background-color);
        background-color: #55b955;
    }

    .report-status:has(.ignored) {
        color: var(--background-color);
        background-color: #dd5050;
    }

    .report-content {
        max-width: 100%;
        border: 1px solid var(--border-color-clear);
        border-radius: 3px;
        
        .table-container {
            width: 100%;
            padding: 3px;

            th {
                background-color: var(--border-color);
                color: var(--background-color);
                font-family: Nunito-Sistema;
                font-weight: normal;
                font-size: 0.85em;
                padding: 5px;
                border-radius: 2px;
                width: 50%;
            }

            td {
                font-family: Nunito-Sistema;
                text-align: center;
                border: 1px solid var(--border-color);
                border-radius: 2px;
                padding: 10px;
                font-size: 0.9em;

                .img-container {
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 420px;
                        max-height: 370px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .report-actions {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 10px 0px;

        .btn {
            padding: 10px;
            border-radius: 3px;
            font-family: Nunito-Sistema;
            font-size: 0.9em;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        .ans-btn {
            background-color: #55b955;
            border: 1px solid #55b955;
            color: var(--background-color);
        }

        .ans-btn:hover {
            color: #55b955;
            background-color: var(--background-color);
        }

        .ign-btn {
            background-color: #dd5050;
            border: 1px solid #dd5050;
            color: var(--background-color);
        }

        .ign-btn:hover {
            color: #dd5050;
            background-color: var(--background-color);
        }

        .slo-btn {
            background-color: #e7c83e;
            border: 1px solid #e7c83e;
            color: var(--text-color);
        }

        .slo-btn:hover {
            background-color: var(--background-color);
        }

        .bck-btn {
            background-color: var(--border-color);
            border: 1px solid var(--border-color);
            color: var(--background-color);
        }

        .bck-btn:hover {
            color: var(--border-color);
            background-color: var(--background-color);
        }
    }
}