* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.header-container {
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 0.5px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header-content-1 {
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-1 .space {
    width: 42px;
}

.header-content-1 .logo img {
    width: 200px;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--border-color);
}

.user-container:hover {
    cursor: pointer;
}

.user-container .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.user-container .user .fa-circle-user {
    font-size: 1.5em;
    position: relative;
}

.user-container .user .fa-angle-down {
    font-size: 0.9em;
    margin-top: 4px;
}

.user-container .user .user-options {
    list-style: none;
    display: none;
    position: absolute;
}

.user-container .user .user-options a {
    color: var(--border-color);
    text-decoration: none;
    font-family: Nunito-Sistema;
}

.user-container .user .user-options .fa-solid {
    font-size: unset;
}

.user-container .user .user-options .line {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
}

.user-container:hover .user .user-options {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 150px;
    padding: 10px 15px;
    gap: 10px;
    margin-top: 210px;
    margin-right: 105px;
    border: 1.5px solid rgba(10, 10, 10, 0.2);
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.3);
    height: 183px;
}

.user-container .user .user-options li:hover {
    text-decoration: underline;
}

.header-content-2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--text-color);
}

.header-content-2 .sistema {
    font-family: Nunito-Sistema;
}

.header-content-2 .sistema a {
    text-decoration: none;
    color: var(--text-color);
}

.header-content-2 .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content-2 .links .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.nav-container li {
    padding: 13px;
}

.nav-container li:hover a {
    text-decoration: underline;
    transition: ease 2s;
}

.search a {
    padding: 13px;
    color: var(--text-color);
}

.container-content:has(.content) {
    background-color: var(--background-color);
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    width: 90%;
    margin: 0 auto;
    font-family: Nunito-Sistema;
    height: auto;
    min-height: 100vh;
}

.content .content-h2 {
    font-family: Merriweather-Titulos;
    padding: 10px;
    color: var(--text-color);
    margin: 10px auto 65px auto;
}

.content .container-options {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.content .container-options .option-content {
    width: 25%;
    height: auto;
    min-height: 25vh;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 2px rgba(20, 20, 20, 0.17);
}

.content .container-options .option-content:hover {
    box-shadow: 2px 1px 3px 3px rgba(20, 20, 20, 0.27);
    transition: ease-in-out 0.4s;
}

.content .container-options .option-content .option {
    text-decoration: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .container-options .option-content .option .option-title {
    font-size: 1.3em;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.content .container-options .option-content .option .option-caption {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 30px;
    border-left: 1px solid var(--border-color);
    gap: 20px;
}

.results-container .filter-result {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.results-container .filter-result span {
    border-bottom: 1px solid var(--border-color);
    padding: 3px 0px;
}

.results-container .filter-result a {
    text-decoration: none;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 5px;
    padding: 9px;
    border: 1px solid var(--border-color);
    color: var(--background-color);
    background-color: var(--border-color);
    border-radius: 3px;
    font-size: 0.75em;
}

.results-container .filter-result a:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.3s all;
}

.container .content-sp {
    display: flex;
    padding-top: 23vh;
    padding-bottom: 5vh;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    font-family: Nunito-Sistema;
    gap: 10px;
}

.container .content-sp .filter-container {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    gap: 10px;
    padding: 10px;
}

.container .content-sp .filter-container .title-filter {
    font-family: Merriweather-Titulos;
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}

.container .content-sp .filter-container .title-filter .title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.container .content-sp .filter-container .filter-options-container {
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.container .content-sp .filter-container .filter-options-container form .sub-title-filter {
    font-size: 0.8em;
    margin-bottom: 10px;
    font-family: Merriweather-Titulos;
}

.container .content-sp .filter-container .filter-options-container form .fieldset-container {
    padding: 3px 5px 3px 3px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    margin-bottom: 20px;
}

.container .content-sp .filter-container .filter-options-container form .fieldset-container .fieldset-title {
    padding: 4px 7px;
}

.container .content-sp .filter-container .filter-options-container form .fieldset-container .filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    gap: 5px;
}

.container .content-sp .filter-container .filter-options-container form .fieldset-container .filter-options label {
    display: flex;
    gap: 5px;
    justify-content: baseline;
    cursor: pointer;
}

.container .content-sp .filter-container .filter-options-container form .fieldset-container .filter-options input {
    cursor: pointer;
}

.container .content-sp .filter-container .filter-options-container form .filter-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content-sp .filter-container .filter-options-container form .filter-button .sort {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 9px;
    background-color: var(--border-color);
    color: var(--background-color);
    gap: 5px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    margin: 10px 0px 5px 0px;
    font-family: Nunito-Sistema;
    margin-top: -5px;
}

.container .content-sp .filter-container .filter-options-container form .filter-button .sort:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.3s all;
    cursor: pointer;
}

.container .content-sp .results-stores-container {
    display: flex;
    flex-direction: column;
}

.container .content-sp .results {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

.container .content-sp .results > a {
    text-decoration: none;
    color: unset;
}

.container .content-sp .results .result {
    width: 280px;
    height: 250px;
    padding: 10px;
    box-shadow: 2px 1px 10px 2px rgba(20, 20, 20, 0.27);
    border-radius: 5px;
    overflow: auto;
}

.container .content-sp .results .result:hover {
    box-shadow: 2px 1px 10px 2px rgba(20, 20, 20, 0.45);
    transition: ease-in-out 0.3s all;
}

.container .content-sp .results .result::-webkit-scrollbar {
    width: 13px;
}

.container .content-sp .results .result::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.container .content-sp .results .result .result-content-1 {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}

.container .content-sp .results .result .result-content-1 .img-result img {
    width: 85px;
    height: 85px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    object-fit: cover;
}

.container .content-sp .results .result .result-content-1 .title-category-result {
    display: flex;
    flex-direction: column;
}

.container .content-sp .results .result .result-content-2 .desc-result {
    padding: 5px;
    margin: 0 auto;
    margin-top: 3px;
    height: 110px;
    overflow: auto;
    background-color: var(--background-color);
}

.container .content-sp .results .result .result-content-2 .desc-result::-webkit-scrollbar {
    width: 13px;
}

.container .content-sp .results .result .result-content-2 .desc-result::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.footer-container {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 50vh;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: Nunito-Sistema;
}

.footer-container .socials-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 30px 30px 20px 0px;
}

.footer-container .socials-content .fa-brands {
    margin-top: 4px;
    color: var(--background-color);
}

.footer-container .infos-content {
    display: flex;
    padding-left: 100px;
    gap: 30px;
}

.footer-container .infos-content .ic {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.footer-container .infos-content .content-title {
    margin: 10px 0;
}

.footer-container .infos-content .ic a {
    width: max-content;
    display: block;
    text-decoration: none;
    color: var(--border-color);
    margin: 5px 0;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid var(--text-color);
}

.footer-container .infos-content .ic a:hover {
    border-bottom: 1px solid var(--border-color);
}

.copy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: var(--border-color);
}

.copy-content .content-1 {
    font-size: 0.7em;
}

.copy-content .content-1 .fa-regular {
    font-size: 0.8em;
}

@media screen and (max-width: 1075px) {
    .container .content-sp .results {
        display: flex;
        flex-wrap: wrap;
    }
}