* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sistema {
    font-family: Nunito-Sistema;
    font-size: 0.9em;
}

body {
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.body-container {
    width: 100%;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.header-container {
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 0.5px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header-content {
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .space {
    width: 90px;
}

.header-content .logo img {
    width: 200px;
}

.header-content .user .sistema {
    color: var(--text-color);
    text-decoration: none;
}

.link {
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3.5px;
}

.header-content .user .link:hover {
    background-color: var(--border-color);
    color: var(--background-color);
    transition: all 0.2s ease-in-out;
}

.body-container .landing-content {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.div-content-1 .content-text {
    width: 30vw;
    padding: 10px;
}

.text-content .title-landing {
    font-family: Merriweather-Titulos;
}

.text-content .text-landing {
    font-family: Nunito-Sistema;
    margin: 13px 0px 30px 0px ;
}

.text-content .title-landing .text-black {
    text-decoration: 3px underline var(--border-color);
}

.div-content-1 .content-img img {
    width: 525px;
    padding: 10px;
    border-radius: 15px;
}

.content-text .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid var(--border-color);
    border-radius: 4%;
    background-color: var(--border-color);
    color: white;
}

.content-text .link-button .button {
    text-decoration: none;
    color: unset;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fa-arrow-right-long {
    margin-top: 4px;
}

.link-button:hover {
    background-color: unset;
    color: unset;
    transition: all 0.2s ease-in-out;
}

.div-content-2 {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: Nunito-Sistema;
}

.footer-container .socials-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.footer-container .socials-content .fa-brands {
    margin-top: 4px;
    color: var(--background-color);
}

.footer-container .infos-content {
    display: flex;
    padding-left: 100px;
}

.footer-container .infos-content .ic {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.footer-container .infos-content .content-title {
    margin: 10px 0;
}

.footer-container .infos-content .ic a {
    display: block;
    text-decoration: none;
    color: var(--border-color);
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-container .infos-content .ic a:hover {
    color: var(--border-color-clear);
    transition: all 0.2s ease-in-out;
}

.copy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: var(--border-color);
}

.copy-content .content-1 {
    font-size: 0.7em;
}

.copy-content .content-1 .fa-regular {
    font-size: 0.8em;
}