* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sistema {
    font-family: Nunito-Sistema;
    font-size: 0.9em;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.header-container {
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 0.5px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header-content {
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .space {
    width: 70px;
}

.header-content .logo img {
    width: 200px;
}

.header-content .user .sistema {
    color: var(--text-color);
    text-decoration: none;
}

.link {
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3.5px;
}

.header-content .user .link:hover {
    background-color: var(--border-color);
    color: var(--background-color);
    transition: all 0.2s ease-in-out;
}

.body-container {
    width: 100%;
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container .landing-content {
    width: 90%;
    height: 73vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.div-content-1 .content-text {
    width: 30vw;
    padding: 10px;
}

.text-content .title-landing {
    font-family: Merriweather-Titulos;
}

.text-content .text-landing {
    font-family: Nunito-Sistema;
    margin: 13px 0px 30px 0px ;
}

.text-content .title-landing .text-black {
    text-decoration: 3px underline var(--border-color);
}

.div-content-1 .content-img img {
    width: 525px;
    padding: 10px;
    border-radius: 15px;
}

.content-text .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid var(--border-color);
    border-radius: 4%;
    background-color: var(--border-color);
    color: white;
}

.content-text .link-button .button {
    text-decoration: none;
    color: unset;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fa-arrow-right-long {
    margin-top: 4px;
}

.link-button:hover {
    background-color: unset;
    color: unset;
    transition: all 0.2s ease-in-out;
}