* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.store-content {
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.store-content .header {
    padding: 10px 0px 25px 0px;
    border-bottom: 1px solid var(--border-color);
    font-family: Merriweather-Titulos;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-color);
}

.store-content .header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.store-content .store {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 35px 30px;
    font-family: Nunito-Sistema;
    border-bottom: 1px solid var(--border-color);
}

.store-content .store .content-1 {
    display: flex;
    gap: 15px;
    max-width: 50vw;
}

.store-content .store .content-1 .store-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 240px;
    height: 200px;
}

.store-content .store .content-1 .store-img img {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    object-fit: contain;
    max-width: 240px;
    max-height: 200px;
}

.store-content .store .content-1 .name-category {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 13px;
}

.store-content .store .content-1 .name-category .name {
    display: flex;
    align-items: center;
    gap: 5px;
}
.store-content .store .content-1 .name-category .name i {
    margin-bottom: 1.6px;
    color: var(--border-color);
}

.store-content .store .content-1 .name-category .category {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--border-color);
    color: var(--background-color);
    border-radius: 3px;
}

.store-content .store .content-1 .description .description-text {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.store-content .store .content-1 .description .description-text i {
    color: var(--border-color);
    font-size: 1.15em;
}

.store-content .store .content-2 {
    display: flex;
    flex-direction: column;
    width: 28vw;
}

.store-content .store .content-2 .title {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 5px;
    font-size: 1.05em;
    color: var(--border-color);
    padding: 5px 0px;
}

.store-content .store .content-2 .phone-email .text-plane {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 5px;
    padding: 2.5px 0px 2.5px 30px;
    color: var(--border-color);
}

.store-content .store .content-2 .phone-email .text-plane i {
    color: rgb(165, 188, 209);
}

.store-content .store .content-2 .socials-container .socials-links {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.store-content .store .content-2 .socials-container .socials-links .links {
    padding-left: 30px;
}

.store-content .store .content-2 .socials-container .socials-links .links a {
    text-decoration: none;
    color: var(--border-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.store-content .store .content-2 .socials-container .socials-links .links .ig-link i {
    color: #E4405F;
    font-size: 1.08em;
}

.store-content .store .content-2 .socials-container .socials-links .links .fc-link i {
    color: #1877F2;
}

.store-content .store-products {
    display: flex;
    min-height: 30vh;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.store-content .store-products .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 35px 0px;
    border-bottom: 1px solid var(--border-color);
    font-family: Merriweather-Titulos;
}

.store-content .store-products .title .sp-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--border-color);
}

.store-content .store-products .products {
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    font-family: Nunito-Sistema;
    padding: 0px 20px 20px 15px;
    border-bottom: 1px solid var(--border-color);
    gap: 15px;
    position: relative;
    margin-bottom: 30px;
}

.store-content .store-products .products .see-all {
    position: absolute;
    top: 35%;
    right: 3.5%;
}

.store-content .store-products .products .see-all a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    gap: 5px;
    padding: 9px;
    background-color: var(--border-color);
    color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.store-content .store-products .products .see-all a:hover {
    background-color: var(--background-color);
    color: var(--border-color);
    transition: ease-in-out 0.4s;
}

.store-content .store-products .products .see-all a > i {
    margin-top: 3.5px;
}

.store-content .store-products .products:has(.empty) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-content .store-products .products:has(.empty) .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-style: italic;
}

.store-content .store-products .products a {
    text-decoration: none;
    color: var(--text-color);
}

.store-content .store-products .products a .product {
    width: 230px;
    height: 200px;
    padding: 10px;
    box-shadow: 2px 1px 10px 2px rgba(20, 20, 20, 0.27);
    border-radius: 5px;
    overflow: auto;
    font-size: 0.8em;
}

.store-content .store-products .products a .product:hover {
    box-shadow: 2px 1px 10px 2px rgba(20, 20, 20, 0.45);
    transition: ease-in-out 0.3s all;
}

.store-content .store-products .products a .product::-webkit-scrollbar {
    width: 10px;
}

.store-content .store-products .products a .product::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

.store-content .store-products .products a .product .product-content-1 {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}

.store-content .store-products .products a .product .product-content-1 .img-product img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    object-fit: cover;
}

.store-content .store-products .products a .product .product-content-1 .title-category-product {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.store-content .store-products .products a .product .product-content-1 .title-category-product .category-product .category {
    font-style: italic;
}

.store-content .store-products .products a .product .product-content-2 .desc-product {
    padding: 5px;
    margin: 0 auto;
    margin-top: 3px;
    height: 90px;
    overflow: auto;
    background-color: var(--background-color);
}

.store-content .store-products .products a .product .product-content-2 .desc-product::-webkit-scrollbar {
    width: 10px;
}

.store-content .store-products .products a .product .product-content-2 .desc-product::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}