* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-support);
}

body::-webkit-scrollbar {
    width: 14px;
}   

body::-webkit-scrollbar-thumb {
    background-color: var(--border-color-clear);
    border-radius: 10px;
    border: 3px solid var(--background-color-support);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-support-secundary);
    color: var(--text-color-support);
    font-family: Nunito-Sistema;

    .mensaje-error {
        font-family: Nunito-Sistema;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 5px;
        background-color: var(--background-color-support-secundary);
        padding: 10px;
        border-radius: 5px;
        top: 15vh;
        right: 20px;
        position: absolute;
        color: rgb(204, 73, 73);
        border: 1px solid rgb(204, 73, 73);
        transition: all 0.5s ease;
    }
    
    .mensaje-error:hover {
        background-color: rgb(204, 73, 73);
        color: var(--background-color);
        cursor: default;
    }
    
    .mensaje-success {
        font-family: Nunito-Sistema;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 5px;
        background-color: var(--background-color-support-secundary);
        padding: 10px;
        border-radius: 5px;
        top: 15vh;
        right: 20px;
        position: absolute;
        color: rgb(77, 235, 71);
        border: 1px solid rgb(77, 235, 71);
        transition: all 0.5s ease;
    }
    
    .mensaje-success:hover {
        background-color: rgb(77, 235, 71);
        color: var(--background-color);
        cursor: default;
    }

    .header-container {
        position: fixed;
        background-color: var(--background-color-support);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        min-height: 12vh;
        border-bottom: 1px solid var(--border-color-clear);

        .logo-text {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            img {
                width: 67px;
            }

            .header-text {
                font-family: Merriweather-Titulos;
                margin-left: -4px;
                margin-top: 2px;
                border-left: 1px solid var(--border-color-clear);
                padding: 10px;
            }
        }

        .user {
            .login {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: var(--text-color-support);
                padding: 10px;
                border-radius: 3px;
                transition: 0.4s ease-in-out;
                border: 1px solid var(--background-color-support);
                font-size: 0.9em;

                i {
                    margin-top: 1.1px;
                }
            }

            .login:hover {
                border: 1px solid var(--text-color-support);
            }

            .account {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                gap: 5px;
                font-size: 0.75em;
                color: var(--text-color-support);
                padding: 10px;
                margin-right: 0px;
                border-radius: 3px;
                border: 1px solid var(--background-color-support);
                transition: 0.4s ease-in-out;

                svg {
                    width: 23px;
                    fill: var(--text-color-support);
                }

                .text {
                    margin-top: 2px;
                }
            }

            .account:hover {
                border: 1px solid var(--text-color-support);
                margin-right: 7px;
            }
        }
    }

    .content {
        width: 90%;
        margin: 0 auto;
        padding-top: 23.5vh;
        min-height: 100vh;

        .sub-header-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-bottom: 100px;
            border-bottom: 1px solid var(--border-color-clear);

            .sub-header-title {
                font-family: Merriweather-Titulos;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;
                margin-bottom: 10px;
            }

            .sub-header-text {
                text-align: center;
                width: 70%;
            }
        }

        .options-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 50px 0px;
            border-bottom: 1px solid var(--border-color-clear);
            flex-wrap: wrap;

            a {
                text-decoration: none;
                color: var(--background-color);
                font-size: 1em;

                .option {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;
                    width: 250px;
                    height: 185px;
                    border: 1px solid var(--border-color-clear);
                    border-radius: 3px;
                    transition: ease-in-out 0.3s;
    
                    .option-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-bottom: 1px solid var(--border-color-clear);
    
                        .title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 7px;
                            font-family: Merriweather-Titulos;
    
                            i {
                                font-size: 1.5em;
                            }
                        }
                    }

                    .option-content {
                        .text {
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            width: 90%;
                        }
                    }
                }
            }

            a:hover {
                .option {
                    background-color: var(--hover-effect-support);
                    border: 1px solid var(--border-color);
                }
            }
        }

        .support-questions {
            display: flex;
            flex-direction: column;
            padding: 30px 0px 120px 0px;
            gap: 30px;

            .title {
                width: max-content;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;
                font-family: Merriweather-Titulos;
                font-size: 1.1em;

                i {
                    margin-top: 2px;
                }
            }

            .questions {
                width: 70%;
                margin: 0 auto;
                border: 1px solid var(--border-color-clear);
                border-radius: 4px;

                details {
                    border-bottom: 1px solid var(--border-color-clear);
                    padding: 10px;
                }

                details:hover {
                    background-color: var(--hover-effect-support);
                }

                details:has(#last) {
                    border-bottom: unset;
                }

                summary {
                    padding: 10px;
                    cursor: pointer;
                    font-size: 0.9em;
                }

                summary::marker {
                    font-size: 0.9em;
                }

                .p-text {
                    border-top: 1.5px dotted var(--border-color-clear);
                    padding: 12px 0px 5px 0px;
                    font-size: 0.9em;
                    padding-left: 15px;
                }
            }
        }
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        padding-top: 18vh;
        min-height: 100vh;
        width: 90%;
        margin: 0 auto;
        
        .header {
            display: flex;
            align-items: center;
            padding: 20px 0px 0px 0px;
            font-family: Merriweather-Titulos;

            .title {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--border-color-clear);

                .back {
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.6em;
                    font-family: Nunito-Sistema;
                    gap: 5px;
                    color: var(--background-color);
                    font-weight: normal;
                    padding: 10px;
                    border: 1px solid var(--background-color-support-secundary);
                    border-radius: 3px;
                    transition: 0.3s ease-in-out;
                }

                .back:hover {
                    border: 1px solid var(--background-color);
                }
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 10px 0px 30px 0px;

            .alert {
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0px;
                border-bottom: 1px solid var(--border-color-clear);
                gap: 5px;
                font-size: 0.75em;
                padding: 7px;
                border-radius: 3px;
            }

            .info {
                width: 750px;
                font-size: 0.98em;
            }
        }

        .socials-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 0.94em;

            .social {
                width: max-content;
                border-bottom: 1px solid var(--background-color-support-secundary);
                transition: 0.3s ease-in-out;

                .link {
                    padding: 5px 0px;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    color: var(--background-color);
                }
            }

            .social:hover {
                border-bottom: 1px solid var(--background-color);
            }
        }
    }

    .report-container {
        padding-top: 15vh;
        min-height: 100vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid var(--border-color-clear);
            font-family: Merriweather-Titulos;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px 30px 0px;
                gap: 5px;

                i {
                    margin-bottom: 2.5px;
                }
            }
        }

        .report-form-content {
            margin: 5vh auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 450px;

            .divisor {
                margin: 20px auto;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid var(--border-color-clear);
            }

            select, textarea, input {
                font-family: Nunito-Sistema;
                width: 100%;
                padding: 10px;
                margin-top: 10px;
                background-color: var(--background-color-support-secundary);
                border: unset;
                border: 1px solid var(--border-color);
                border-radius: 3px;
                color: var(--background-color);
            }

            textarea {
                width: 100%;
                height: 100px;
            }

            input[type="file"]::file-selector-button {
                cursor: pointer;
                border: unset;
                border: 1px solid var(--border-color);
                border-radius: 3px;
                background-color: var(--background-color-support-secundary);
                padding: 7px;
                color: var(--background-color);
                font-family: Nunito-Sistema;
                margin-right: 10px;
            }

            .diff {
                font-size: 0.9em;
                font-style: italic;
            }

            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding-top: 10px;

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    font-family: Nunito-Sistema;
                    text-decoration: none;
                    width: 100%;
                    color: var(--background-color);
                    border: unset;
                    border: 1px solid var(--border-color-clear);
                    border-radius: 3px;
                    background-color: var(--background-color-support-secundary);
                    transition: 0.4s ease-in-out;
                }

                .btn:hover {
                    border: 1px solid var(--background-color);
                }

                .submit {
                    cursor: pointer;
                }

                .cancel {
                    font-size: 0.8em;
                }
            }
        }

        .content-github-link {
            display: flex;
            justify-content: end;
            align-items: center;
            border-top: 1px solid var(--border-color-clear);
            padding: 50px 10px 50px 0px;

            .go-github {
                width: max-content;
                padding: 10px;
                border: 1px solid var(--border-color-clear);
                text-decoration: none;
                color: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                font-size: 0.8em;
                font-weight: normal;
                font-family: Nunito-Sistema;
                transition: 0.4s ease-in-out;
                border-radius: 3px;

                i {
                    margin-top: 3px;
                }
            }

            .go-github:hover {
                border: 1px solid var(--background-color);
            }
        }
    }
}

.footer-container {
    background-color: var(--background-color-support);
    display: flex;
    border-top: 1px solid var(--border-color-clear);
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    padding: 0px 65px 0px 10px;
    font-family: Nunito-Sistema;
    flex-wrap: wrap;

    .img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 170px;
        }
    }

    .text {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--border-color);

        i {
            font-size: 0.7em;
        }
    }

    .socials {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        
        a {
            text-decoration: none;
            color: var(--background-color);
            border-bottom: 1px solid var(--background-color-support);
            padding: 0px 2px 0px 2px;
            transition: ease-in-out 0.4s;
        }

        a:hover {
            border-bottom: 1px solid var(--background-color);
        }
    }
}