* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .settings-content {
        margin: 0 auto;
        width: 90%;
        display: flex;
        gap: 35px;
        padding: 50px 30px;
        min-height: 100vh;

        .settings-nav {
            display: flex;
            justify-content: center;
            padding: 0px 40px 0px 0px;
            border-right: 1px solid var(--border-color);
            min-height: 80vh;

            .navbar {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .header {
                    .title {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-family: Merriweather-Titulos;
                        padding: 10px;
                    }
                }

                .navbar-options {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-family: Nunito-Sistema;

                    .link {
                        text-decoration: none;
                        width: 170px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding: 10px;
                        color: var(--border-color);
                        border-radius: 30px;
                        font-size: 0.8em;
                        padding-top: 9.5px;
                        padding-left: 15px;
                    }

                    .danger-zone {
                        i {
                            margin-top: 1.5px;
                        }
                    }
                }
            }
        }

        .settings-options {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 10px 20px;

            .settings {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .header-info {
                    .info {
                        display: flex;
                        align-items: baseline;
                        gap: 2px;
                        font-family: Nunito-Sistema;
                        font-size: 0.83em;
                    }
                }
            }

            .my-data {
                .header-info {
                    margin-bottom: 3vh;

                    .info {
                        width: 335px;
                        color: rgb(126, 179, 209);
                        border-bottom: 1px solid rgb(126, 179, 209);
                    }
                }
            }

            .settings-personal {
                gap: 20px;

                .content-form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-bottom: 1px solid var(--border-color);
                    padding-bottom: 30px;

                    .title {
                        display: flex;
                        align-items: baseline;
                        font-family: Merriweather-Titulos;
                    }

                    .inputs {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        input {
                            width: 35%;
                            margin-right: 5px;
                            padding: 7px;
                            outline: unset;
                            font-family: Nunito-Sistema;
                            color: var(--border-color);
                            border: unset;
                            border: 1px solid var(--border-color);
                            border-radius: 3px;
                            font-size: 0.8em;
                            background-color: var(--background-color);
                        }

                        button {
                            padding: 7px;
                            border: unset;
                            border: 1px solid var(--border-color);
                            border-radius: 3px;
                            font-family: Nunito-Sistema;
                            background-color: var(--border-color);
                            color: var(--background-color);
                            transition: ease-in-out 0.4s;
                            font-size: 0.8em;
                            cursor: pointer;
                        }

                        button:hover {
                            background-color: var(--background-color);
                            color: var(--border-color);
                        }
                    }
                }
            }

            .settings-danger-zone {
                .header-info {
                    margin-bottom: 3vh;

                    .info {
                        width: 413px;
                        color: rgb(218, 100, 100);
                        border-bottom: 1px solid rgb(218, 100, 100);
                    }
                }

                .options {
                    display: flex;
                    flex-direction: column;
                    font-family: Merriweather-Titulos;
                    gap: 20px;

                    .option {
                        padding-bottom: 25px;
                        border-bottom: 1px solid var(--border-color);

                        .content {
                            .action {
                                width: 80px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                background-color: rgb(218, 100, 100);
                                padding: 10px;
                                font-family: Nunito-Sistema;
                                font-size: 0.8em;
                                gap: 5px;
                                color: var(--background-color);
                                margin-top: 10px;
                                border-radius: 3px;
                                transition: ease-in-out 0.4s;
                                border: 1px solid rgb(218, 100, 100);
                            }

                            .action:hover {
                                background-color: var(--background-color);
                                color: rgb(218, 100, 100);
                            }
                        }
                    }
                }
            }
        }
    }
}