* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .mensaje-error {
        font-family: Nunito-Sistema;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 5px;
        background-color: var(--background-color);
        padding: 10px;
        border-radius: 5px;
        top: 40px;
        right: 20px;
        position: absolute;
        color: rgb(204, 73, 73);
        border: 1px solid rgb(204, 73, 73);
        transition: all 0.5s ease;
    }
    
    .mensaje-error:hover {
        background-color: rgb(204, 73, 73);
        color: var(--background-color);
        cursor: default;
    }
    
    .mensaje-success {
        font-family: Nunito-Sistema;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 5px;
        background-color: var(--background-color);
        padding: 10px;
        border-radius: 5px;
        top: 45px;
        right: 20px;
        position: absolute;
        color: rgb(77, 235, 71);
        border: 1px solid rgb(77, 235, 71);
        transition: all 0.5s ease;
    }
    
    .mensaje-success:hover {
        background-color: rgb(77, 235, 71);
        color: var(--background-color);
        cursor: default;
    }

    .settings-content {
        margin: 0 auto;
        width: 90%;
        display: flex;
        gap: 35px;
        padding: 50px 30px;
        min-height: 100vh;

        .settings-nav {
            display: flex;
            justify-content: center;
            padding: 0px 40px 0px 0px;
            border-right: 1px solid var(--border-color);
            min-height: 80vh;

            .navbar {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .header {
                    .title {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-family: Merriweather-Titulos;
                        padding: 10px;
                    }
                }

                .navbar-options {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-family: Nunito-Sistema;
                    .danger-zone {
                        i {
                            margin-top: 1.5px;
                        }
                    }
                }
            }
        }

        .settings-options {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 10px 20px;

            .settings {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .header-info {
                    .info {
                        display: flex;
                        align-items: baseline;
                        gap: 2px;
                        font-family: Nunito-Sistema;
                        font-size: 0.83em;
                    }
                }
            }

            .my-data {
                .header-info {
                    margin-bottom: 3vh;

                    .info {
                        width: 335px;
                        color: rgb(126, 179, 209);
                        border-bottom: 1px solid rgb(126, 179, 209);
                    }
                }

                .main-title {
                    display: flex;
                    align-items: center;
                    font-family: Merriweather-Titulos;
                    margin: 10px 0px 20px 0px;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;

                    .user-content {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .header {
                            .title {
                                font-family: Merriweather-Titulos;
                                border-bottom: 1px solid var(--border-color);
                                width: max-content;
                                padding: 2px 0px;
                                margin-bottom: 7px;
                            }
                        }

                        .u-info {
                            font-family: Nunito-Sistema;
                            margin-left: 10px;
                            display: flex;
                            align-items: baseline;
                            color: var(--border-color);

                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: var(--border-color);
                                margin-right: 5px;
                            }

                            id {
                                width: max-content;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: var(--border-color);
                                padding: 3px 7px;
                                border-radius: 4px;
                                margin-left: 10px;
                                color: var(--background-color);
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }

            .settings-personal {
                gap: 20px;

                .content-form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-bottom: 1px solid var(--border-color);
                    padding-bottom: 30px;

                    .title {
                        display: flex;
                        align-items: baseline;
                        font-family: Merriweather-Titulos;
                    }

                    .inputs {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        input {
                            width: 35%;
                            margin-right: 5px;
                            padding: 7px;
                            outline: unset;
                            font-family: Nunito-Sistema;
                            color: var(--border-color);
                            border: unset;
                            border: 1px solid var(--border-color);
                            border-radius: 3px;
                            font-size: 0.8em;
                            background-color: var(--background-color);
                        }

                        button {
                            padding: 7px;
                            border: unset;
                            border: 1px solid var(--border-color);
                            border-radius: 3px;
                            font-family: Nunito-Sistema;
                            background-color: var(--border-color);
                            color: var(--background-color);
                            transition: ease-in-out 0.4s;
                            font-size: 0.8em;
                            cursor: pointer;
                        }

                        button:hover {
                            background-color: var(--background-color);
                            color: var(--border-color);
                        }
                    }
                }
            }

            .settings-danger-zone {
                .header-info {
                    margin-bottom: 3vh;

                    .info {
                        width: 413px;
                        color: rgb(218, 100, 100);
                        border-bottom: 1px solid rgb(218, 100, 100);
                    }
                }

                .options {
                    display: flex;
                    flex-direction: column;
                    font-family: Merriweather-Titulos;
                    gap: 20px;

                    .option {
                        padding-bottom: 25px;
                        border-bottom: 1px solid var(--border-color);

                        .content {
                            .action {
                                width: 80px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                background-color: rgb(218, 100, 100);
                                padding: 10px;
                                font-family: Nunito-Sistema;
                                font-size: 0.8em;
                                gap: 5px;
                                color: var(--background-color);
                                margin-top: 10px;
                                border-radius: 3px;
                                transition: ease-in-out 0.4s;
                                border: 1px solid rgb(218, 100, 100);
                            }

                            .action:hover {
                                background-color: var(--background-color);
                                color: rgb(218, 100, 100);
                            }
                        }
                    }
                }
            }
        }
    }
}